*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#eef2f7;
    color:#333;
}

.hero{
    background:linear-gradient(135deg,#0f172a,#2563eb);
    color:white;
    text-align:center;
    padding:60px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:10px;
}

.hero h3{
    margin-bottom:15px;
    font-weight:400;
}

.container{
    width:90%;
    max-width:1000px;
    margin:30px auto;
}

.card{
    background:white;
    margin-bottom:20px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    color:#2563eb;
    margin-bottom:15px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skills span{
    background:#2563eb;
    color:white;
    padding:8px 15px;
    border-radius:20px;
}

ul{
    padding-left:20px;
}

li{
    margin-bottom:8px;
}

audio{
    width:100%;
    margin-top:10px;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:15px;
}